<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Pessoa</title>
    <link rel="stylesheet" th:href="@{/css/style_alterar.css}">
</head>
<body>

    <header>
        <div class="botoes">
            <a th:href="@{/}">Início</a>
            <a th:href="@{/pessoas}">Cadastrar Pessoas</a>
            <a th:href="@{/consultar}">Consultar Pessoas</a>
        </div>
    </header>

    <h1>Editar Pessoa</h1>

    <form th:action="@{/editar}" method="post" th:object="${pessoa}">
        <input type="hidden" th:field="*{id}" />

        <label>Nome:</label>
        <input type="text" th:field="*{nome}" class="centralizado" required /><br/>

        <label>Sobrenome:</label>
        <input type="text" th:field="*{sobrenome}" class="centralizado" required /><br/>

        <label>CPF:</label>
        <input type="text" th:field="*{cpf}" class="centralizado" required /><br/>

        <label>Idade:</label>
        <input type="number" th:field="*{idade}" class="centralizado" required /><br/>

        <button type="submit">Atualizar</button>
    </form>

</body>
</html>