<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style_index.css}">
    <meta charset="UTF-8">
</head>
<body>
    <header>
        <button><a th:href="@{/}">Início</a></button>
        <button><a th:href="@{/pessoas}">Cadastrar Pessoas</a></button>
        <button><a th:href="@{/consultar}">Consultar Pessoas</a></button>
        <button><a th:href="@{/editar}">Editar Pessoas</a></button>
        <button><a th:href="@{/excluir}">Excluir Pessoas</a></button>
    </header>
</body>
</html>